# Obsidian config
.obsidian/

*/private/

# OS junk
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Jekyll build output
_site/
.jekyll-cache/
.jekyll-metadata

# Gemfile build output
Gemfile.lock

# Node / build tools if used
node_modules/