@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-Italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/mononoki-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/mononoki-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/mononoki-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: italic;
}

/* ============= FONT STUFF ENDS ================= */

* {
	scroll-behavior: smooth;
}

body {
    background-color: #011638;
    color: #dff8eb;
    font-family: mononoki, sans-serif;
    font-size: 18px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: #214e34;
}

a:active {
    color: #214e34;
}

a:hover {
    color: #DFF8EB;
}

a:visited {
    color: #214e34;
}

code {
    font-family: mononoki, sans-serif;
    font-size: 18px;
}

#page-grid {
    display: grid;
    grid-template-columns: minmax(0px,1fr) 3fr;
    grid-auto-rows: minmax(0px,auto);
    grid-column: 1/-1;
}

#nav-place-holder {
    background-color: #011638;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 40px;
    width: 100%
}

#nav-name {
    background-color: #011638;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

#nav-links {
    background-color: #011638;
    display: flex;
    height: 40px;
    width: 75%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
}

.nav-link {
    border:rgb(37, 37, 37) solid 0px;
    border-radius: 10px;
    padding: 5px;
    background-color: #364156;
}

#code-place-holder {
    background-color: rgb(37, 37, 37);
    width: 25%;
    grid-column: 1/2;
    grid-row: 1/-1;
}

#code {
    background-color: rgb(37, 37, 37);
    width: 25%;
    position: fixed;
    top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
}

.code-link {
    color: #DFF8EB;
    margin: 10px 0px;
}

.code-link:hover{
    color: #214e34;
    background-color: #fff;
}

section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    background-color: #364156;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

img {
    width: 200px;
}


#portfolio {
    align-items: center;
    background-color: steelblue;
    height: 500px;
    grid-column: 2/3;
    grid-row: 3/4;
}

#contact {
    color: rgb(37, 37, 37);
    background-image: url("https://picsum.photos/id/1025/500/400");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 500px;
    grid-column: 2/3;
    grid-row: 4/5;
}

#about {
    background-color: steelblue;
    height: 500px;
    grid-column: 2/3;
    grid-row: 5/6;
}

@media screen and (max-width: 2160px) {
    #nav-links {
        display: none;
    }

    #nav-place-holder {
        background-color: #011638;
    }

    #nav-name {
        width: 25%;
        position: fixed;
        top: 0;
        z-index: 99;
    }

}


@media screen and (max-width: 900px){

    #page-grid {
        grid-template-columns: 0px 100%;
    }
    
    #nav-links {
        display: flex;
        width: 100%;
    }

    #code {
        display: none;
    }

    #nav-name {
        display: none;
    }
}